
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Quicksand&display=swap');



body{
    background-color: #319795;
    color:black;
    font-family:'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: 600;
}

.gif{
    position: relative;
    align-items: center;
    background-color: white;
    margin-top: 1rem;
    /* transform: scale(0.5) ; */
    
}

.title{
    text-align: center;
    margin:0;
    
}
.tittle_p1{
    font-weight: 400;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
}

.password-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 100px;
    
    border-radius: 2rem;
    border: black .1rem solid;
}

.password-container{
    display: flex;
    gap: 1rem;
    

}
.password-space{
    display: flex;
    align-items: center;
    gap: .3rem;
    border: black 0.1rem solid;
    border-radius: 1rem;
}
.field-box{
    height: 25px;
    border:none;
    outline: none;
    width: 100%;
    padding: 11px 12px;
    font-weight: 600;
}

.refresh-icon{
    height: 25px;
    width: 25px;
    padding-right: 10px;
}
/* copy button */
.btn{
    display: flex;
    background-color: #319795;
    align-items: center;
    border: none;
    padding: 1px 10px;
    width: 80px;
    border-radius: .3rem;
    transition: blue 0.3s ease, transform 0.3s ease;
}

.btn:hover{
    background-color: red;
}
.copy-btn:active {
    background-color: rgba(0, 0, 0, 0.2); /* Darker background color when button is clicked */
    transform: scale(0.98); /* Slightly scale down the button on click */
  }
.copy-btn{
    background-color: transparent;
    margin-right: 7px;
    padding: 0;
    height: 27px;
    width: 27px;
    display: block;
    
    
   
    
}

.slider{
    
    display: flex;
    width: fit-content;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    width: 100%;
    
}
.range{
    width: 500px;
    height: 4px;
    background: white;
    background-color: #319795;
    appearance: none;
    border: black 0.1rem solid;
    border-radius: 2rem;
    
    
    
}

.range::-webkit-slider-thumb{
    appearance: none;
    
    width:23px;
    height: 23px;
    background: #319795;
    border:black 0.1rem solid;
    border-radius: 50%;
    z-index: 1;
    opacity: 1;
    top: 2px;
    outline: none;
    
    
}
#label-title{
    align-items: start;
    text-align: start;
}
.slider-track{
    
    width:fit-content;
    margin-top: 1px;
    position: relative;
    outline: none;
    height: 8px;
    border-radius: 1rem;
    
    box-sizing: border-box;

    
}
.details-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
   
    align-items: start;
    
}

.checkbox-wrapper{
    display: flex;
    margin: .4rem;
    align-items: center;
    justify-content:space-between;
    

}