
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Quicksand&display=swap');

*{
    margin:0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    /* background-color: black; */
    color: white;
}

p{
    font-weight: 200;
    font-size: medium;
}


/* Image */

.image{
    height: 50px;
    width: 100px;
    box-sizing: content-box;
    background-color: balck;
    border-radius: 50%;   
}
.icon{
    align-items: center;
    height: 2rem;
    cursor: default;
}

.btn{
    background-color: black;
    border-radius: 2rem;
    border: rgb(163,163,163) 0.1rem solid;
}
.btn:hover{
    background-color: red;
    transition: 0.3s ease-in-out;
}
.password-space{
    display: flex;
    margin:0;
    gap: 0.5rem;

}
.upper-container{
    display: flex;
    flex-direction: column;
}
.main-container{
    display: flex;
    flex-direction: column;
    margin: 15rem;
    align-items: center;
    
    border: rgb(163,163,163) 0.1rem solid;
    border-radius: 1.5rem;
}

.title{
    font-size: 25px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    color: black;
}
.title_p1{
    margin-top: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.pass-space{
    height: 2.6rem;
    width: 100%;
    background-color: aqua;
    border: rgb(53,53,53) 0.1rem solid;
    border-radius: 1.5rem;

}

.detail-container{
    margin-top: 2rem;;

}
.toggle-switch{
    position:relative;
    display: inline-block;
    width: 80%;
}
.toggle-switch-lable{
    display:block;
    cursor: pointer;
    border-radius: 30px;
    position:relative;
    width: 70px;
    height: 25px;
    background-color: #ccc;
}

.slider{
    color: black;
}